{% extends 'base.html' %} {% block content %}

<h1 class="no-card">All Records</h1>

<!-- {% for photo in photos %}
<img src="{{ photo.url }}" />
{% endfor %}  -->
{% for record in records %}
<div class="card index-card">
  <a href="{% url 'detail' record.id %}">
    <div class="card-content">
      <span class="card-title">
        <strong>{{ record.artist }}</strong> - <em>{{ record.title }}</em>
      </span>
      <p>Release Date: {{ record.release_date }}</p>
    </div>
  </a>
</div>
{% endfor %} {% endblock %}
