{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>vinyLog</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Berkshire+Swash&family=Cookie&family=Courgette&family=Gloria+Hallelujah&family=Great+Vibes&family=Kaushan+Script&family=Lobster&family=Permanent+Marker&family=Play&family=Press+Start+2P&family=Sacramento&family=Satisfy&family=The+Nautigal&display=swap"
      rel="stylesheet"
    />
    <style>
      .cover {
        border: 1px solid black;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header class="navbar-fixed">
      <nav class="grey">
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="/" class="left brand-logo"> vinyLog</a>
            </li>
          </ul>
          <ul class="right">
            {% if user.is_authenticated %}
            <ul id="dropdown1" class="dropdown-content">
              <li>
                <a class="link" href="{% url 'records' %}">View All Records</a>
              </li>
              <li>
                <a class="link" href="{% url 'my_records' %}"
                  >Your Contributions</a
                >
              </li>
              <li>
                <a class="link" href="{% url 'records_add' %}">Add a Record</a>
              </li>
            </ul>
            <li>
              <a class="dropdown-trigger" href="#!" data-target="dropdown1"
                >Records<i class="material-icons right">arrow_drop_down</i></a
              >
            </li>
            <li><a href="{% url 'collections' %}">View All Collections</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li class="logout">
              <a href="{% url 'logout' %}">Logout ({{ user }})</a>
            </li>
            {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li class="signup">
              <a class="signup" href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li class="login">
              <a href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right">All Rights Reserved, © 2022 VinyLog</div>
    </footer>
  </body>
</html>
<script>
  $(document).ready(function () {
    $(".dropdown-trigger").dropdown()
  })
</script>
