{% extends 'base.html' %} {% block content %}

<h1 class="no-card">{{ collection.user }}'s Collection</h1>
<p>{{ collection.records.all }}</p>
{% for record in collection.record.all %}

<div class="card index-card">
  <a href="{% url 'detail' record.id %}">
    <div class="card-content">
      <span class="card-title"
        ><strong>{{ record.artist }}</strong> -
        <em>{{ record.title }}</em></span
      >
      <p>Release Date: {{ record.release_date }}</p>
    </div>
  </a>
</div>

{% endfor %} {% endblock %}
