body {
  /* background-color: aqua; */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #6d4e7a;
}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0;
  text-align: right;
  background-color: #6d4e7a;
}

.page-footer {
  background-color: #6d4e7a;
}

.nav-wrapper {
  background-color: #6d4e7a;
}

header {
  background-color: #6d4e7a;
}

nav {
  background-color: #6d4e7a;
}
