body {
  /* background-color: aqua; */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #6d4e7a;
}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0;
  text-align: right;
  background-color: #6d4e7a;
}

.page-footer {
  background-color: #6d4e7a;
}

.nav-wrapper {
  background-color: #6d4e7a;
}

header {
  background-color: #6d4e7a;
}

nav {
  background-color: #6d4e7a;
}

.no-card {
  color: white;
}

label,
input {
  color: white;
}

a {
  color: #6d4e7a;
}

.index-card:hover {
  border: 5px solid black;
}

.responsive-img {
  border: 1px solid black;
}
.datepicker-date-display,
.is-today.is-selected {
  background-color: #6d4e7a;
}
.btn-flat.datepicker-cancel.waves-effect,
.btn-flat.datepicker-done.waves-effect {
  color: #6d4e7a;
}

.yellow {
  color: black;
}
